#Import libraries

In [24]:
import pandas as pd

#Import data set

In [25]:
from google.colab import files
uploaded = files.upload()

Saving cleaned_data.csv to cleaned_data (1).csv

#Read data

In [26]:
df = pd.read_csv('Salary Data.csv')

#Data understanding

In [28]:
df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,Data Science Manager,$111K-$181K (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
3,Data Analyst,$111K-$181K (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,"Director, Data Science",$111K-$181K (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5892 entries, 0 to 5891
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          5892 non-null   object
 1   Salary Estimate    5892 non-null   object
 2   Rating             5892 non-null   float64
 3   Company Name       5892 non-null   object
 4   Location           5892 non-null   object
 5   Size               5892 non-null   object
 6   Founded            5892 non-null   object
 7   Type of ownership  5892 non-null   object
 8   Industry           5892 non-null   object
 9   Sector             5892 non-null   object
 10  Revenue            5892 non-null   object
dtypes: float64(1), object(10)
memory usage: 506.5+ KB

In [30]:
df['Job Title'].value_counts()

Job Title
Data Scientist                              703
Data Analyst                                362
Data Engineer                               317
Senior Data Scientist                       141
Machine Learning Engineer                    72
                                           ...
Scientist Medical Laboratory II               1
IT Data Science Analyst                       1
Research Scientist Associate IV               1
Laboratory Scientist II                       1
Supply Chain Consultant - Data Scientist      1
Name: count, Length: 2959, dtype: int64

In [32]:
df['Location'].value_counts()

Location
Austin, TX         345
Chicago, IL        333
San Diego, CA      331
New York, NY       303
Los Angeles, CA    234
                  ...
Redlands, CA         1
Pittsburg, CA        1
Elk Grove, CA        1
Coronado, CA         1
Wisconsin, WI        1
Name: count, Length: 545, dtype: int64

In [33]:
df['Rating'].value_counts()

Rating
-1.0    710
 3.9    451
 3.8    442
 4.0    415
 4.1    405
 3.7    395
 3.6    347
 3.5    290
 4.2    286
 3.4    240
 4.3    215
 3.3    194
 5.0    194
 3.2    166
 3.1    146
 4.5    143
 4.4    126
 4.6    110
 4.7     84
 4.8     77
 3.0     73
 2.9     70
 2.8     67
 4.9     61
 2.5     35
 2.6     34
 2.7     33
 2.4     20
 2.3     13
 2.2     11
 1.0     10
 1.6      9
 2.1      7
 2.0      4
 1.9      4
 1.5      2
 1.7      2
 1.8      1
Name: count, dtype: int64

#Data cleaning

In [34]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('$', ' '))

In [35]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('K', ' '))

In [36]:
df = df[df['Salary Estimate']!= '-1']

In [37]:
df = df[~df['Salary Estimate'].str.contains('Per Hour')]

In [38]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split())

In [39]:
df['Min Salary'] = df['Salary Estimate'].apply(lambda x: x[0])
df['Max Salary'] = df['Salary Estimate'].apply(lambda x: x[2])

In [40]:
df['Min Salary'] = df['Min Salary'].astype(int)
df['Max Salary'] = df['Max Salary'].astype(int)
df['Average Salary'] = (df['Min Salary'] + df['Max Salary']) / 2

In [41]:
df['State'] = df['Location'].apply(lambda x: x.split()[-1])

In [42]:
df = df[df['State'] != 'Kingdom']

In [43]:
df = df[df['Rating']!= -1]

In [44]:
def title_organizer(x):
  x = x.lower()
  if ('data scientist' in x) or ('data science' in x):
    return 'data scientist'
  elif 'data engineer' in x:
    return 'data engineer'
  elif 'deep learning' in x:
    return 'deep learning engineer'
  elif 'machine learning'in x:
    return 'machine learning engineer'
  elif 'director' in x:
    return 'director'
  elif 'manager' in x:
    return 'manager'
  elif 'analyst' in x:
    return 'analyst'
  elif 'researcher' in x:
    return 'researcher'
  else:
    return 'other'

In [45]:
df['Job Title'] = df ['Job Title'].apply(title_organizer)

In [46]:
df.drop(columns = ['Salary Estimate','Company Name','Location','Size', 'Founded', 'Type of ownership','Industry','Sector', 'Revenue', 'Min Salary', 'Max Salary'], inplace = True)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4891 entries, 0 to 5887
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Job Title       4891 non-null   object
 1   Rating          4891 non-null   float64
 2   Average Salary  4891 non-null   float64
 3   State           4891 non-null   object
dtypes: float64(2), object(2)
memory usage: 191.1+ KB

In [47]:
df.head()

        Job Title  Rating  Average Salary State
0  data scientist     3.5           146.0    NY
1  data scientist     4.5           146.0    NY
3         analyst     3.4           146.0    NJ
4  data scientist     3.4           146.0    NY
5  data scientist     2.9           146.0    NY

In [48]:
df.to_csv('cleaned_data.csv', index = False)